In [3]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']
my_grades

['B', 'C', 'B', 'D']

In [7]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [8]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A'})

0      A
1    NaN
2      A
3    NaN
dtype: object

In [11]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]
for grade in my_grades:
    print("{:.1f}".format(grade))

92.3
84.6
86.8
98.3

In [12]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [14]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.1f}".format)

0    92.3
1    84.6
2    86.8
3    78.3
dtype: object