In [130]:
import os
import pandas as pd

In [131]:
schools_csv_path = os.path.join ("Resources","schools_complete.csv")
students_csv_path=  os.path.join ("Resources","clean_students_complete.csv")

In [132]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(schools_csv_path)
student_data_df= pd.read_csv(students_csv_path)

In [133]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name"])

In [134]:
# Get the total number of students
student_count = school_data_complete_df["student_name"].count()

In [135]:
# Calculate the total number of schools
school_count = len(school_data_complete_df["school_name"].unique())

In [136]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()

In [137]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()

In [138]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()

In [139]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

In [140]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [141]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

In [142]:
# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [143]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count/student_count*100

In [144]:
# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count/student_count*100

In [145]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]

In [146]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

In [147]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count/student_count*100

In [148]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
[{"Total Schools": school_count,
"Total Students": student_count,
"Total Budget": total_budget,
"Average Math Score": average_math_score,
"Average Reading Score": average_reading_score,
"% Passing Math": passing_math_percentage,
"% Passing Reading": passing_reading_percentage,
"% Overall Passing": overall_passing_percentage}])

In [149]:
district_summary_df["Total Students"]=district_summary_df["Total Students"].map("{:,}".format)

In [150]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [151]:
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

In [152]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

In [153]:
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}%".format)

In [154]:
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}%".format)

In [155]:
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}%".format)

In [156]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75%,86%,65%

In [157]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]

In [158]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]

In [159]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]

In [160]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

In [161]:
# Calculate the average math scores.
per_school_math= school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

In [162]:
# Calculate the average reading scores.
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [163]:
# Calculate the number of students passing math and passing reading by school 
per_school_passing_math_count=school_data_complete_df[school_data_complete_df["math_score"] >= 70].groupby(["school_name"]).count()["math_score"]
per_school_passing_reading_count=school_data_complete_df[school_data_complete_df["reading_score"] >= 70].groupby(["school_name"]).count()["reading_score"]

In [164]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math_count / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading_count / per_school_counts *100

In [165]:
# Calculate the students who passed both math and reading.
per_passing_math_reading_count = school_data_complete_df[
    (school_data_complete_df["math_score"]>= 70)
    &
    (school_data_complete_df["reading_score"]>=70)].groupby(["school_name"]).count()["Student ID"]

In [166]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading_count  / per_school_counts *100

In [167]:
# Adding a list of values with keys to create a new DataFrame.
per_school_summary_df = pd.DataFrame({
"School Type": per_school_types,
"Total Students": per_school_counts,
"Total School Budget": per_school_budget,
"Per Student Budget": per_school_capita,
"Average Math Score": per_school_math,
"Average Reading Score": per_school_reading,
"% Passing Math": per_school_passing_math,
"% Passing Reading": per_school_passing_reading,
"% Overall Passing": per_overall_passing_percentage})
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [168]:
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"] .map("${:,.2f}".format)

In [169]:
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"] .map("${:,.2f}".format)

In [170]:
per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"] .map("{:,}".format)

In [171]:
per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.1f}".format)

In [172]:
per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.1f}".format)

In [173]:
per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.0f}%".format)

In [174]:
per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.0f}%".format)

In [176]:
per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.0f}%".format)

In [177]:
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.0,81.0,67%,82%,55%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1,84.0,94%,97%,91%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7,81.2,66%,81%,53%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.1,80.7,68%,79%,54%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4,83.8,93%,97%,91%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.3,80.9,67%,81%,54%
Holden High School,Charter,427,"$248,087.00",$581.00,83.8,83.8,93%,96%,89%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.6,81.2,66%,81%,54%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.1,81.0,66%,81%,54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8,84.0,95%,96%,91%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.8,80.7,66%,80%,53%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.4,83.7,94%,96%,90%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.4,83.8,93%,97%,91%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.3,84.0,94%,97%,91%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.7,84.0,93%,97%,90%