In [1]:
import os
import pandas as pd

In [2]:
schools_csv_path = os.path.join ("Resources","schools_complete.csv")
students_csv_path=  os.path.join ("Resources","clean_students_complete.csv")

In [3]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(schools_csv_path)
student_data_df= pd.read_csv(students_csv_path)

In [4]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name"])

In [5]:
# Get the total number of students
student_count = school_data_complete_df["student_name"].count()

In [6]:
# Calculate the total number of schools
school_count = len(school_data_complete_df["school_name"].unique())

In [7]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()

In [8]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()

In [9]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()

In [10]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

In [11]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [12]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

In [13]:
# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [14]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count/student_count*100

In [15]:
# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count/student_count*100

In [16]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]

In [17]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

In [18]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count/student_count*100

In [65]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
[{"Total Schools": school_count,
"Total Students": student_count,
"Total Budget": total_budget,
"Average Math Score": average_math_score,
"Average Reading Score": average_reading_score,
"% Passing Math": passing_math_percentage,
"% Passing Reading": passing_reading_percentage,
"% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [66]:
district_summary_df["Total Students"]=district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [67]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [68]:
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"]

0    81.9
Name: Average Reading Score, dtype: object

In [69]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Math Score"]

0    79.0
Name: Average Math Score, dtype: object

In [70]:
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}%".format)
district_summary_df["% Passing Math"]

0    75%
Name: % Passing Math, dtype: object

In [71]:
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}%".format)
district_summary_df["% Passing Reading"]

0    86%
Name: % Passing Reading, dtype: object

In [72]:
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}%".format)
district_summary_df["% Overall Passing"]

0    65%
Name: % Overall Passing, dtype: object